<div id="<%= dom_id cartoleiro %>">
  <p>
    <strong>Time:</strong>
    <%= cartoleiro.time %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= cartoleiro.nome %>
  </p>

  <p>
    <strong>Camisa:</strong>
    <%= cartoleiro.camisa %>
  </p>

</div>
