<p style="color: green"><%= notice %></p>

<h1>Pontuacoes</h1>


<table>
  <thead>
    <tr>
      <th>Cartoleiro</th>
      <th>Rodada</th>
      <th>Pontos</th>
      <th>Posicao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pontuacaos.each do |pontuacao| %>
      <tr id="<%= dom_id pontuacao %>">
        <%= render pontuacao %>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pontuacao', new_pontuacao_path %>
